.color-1 { color: #F3F9F9; }

.color-2 { color: #809FBD; }

.color-3 { color: #F87F01; }

.color-4 { color: #33434F; }

.color-5 { color: #232B34; }

.bgColor-1 { background-color: #F3F9F9; }

.bgColor-2 { background-color: #809FBD; }

.bgColor-3 { background-color: #F87F01; }

.bgColor-4 { background-color: #33434F; }

.bgColor-5 { background-color: #232B34; }
