$color1: #F3F9F9;
$color2: #809FBD;
$color3: #F87F01;
$color4: #33434F;
$color5: #232B34;

.color-1 { color: $color1; }
.color-2 { color: $color2; }
.color-3 { color: $color3; }
.color-4 { color: $color4; }
.color-5 { color: $color5; }

.bgColor-1 { background-color: $color1; }
.bgColor-2 { background-color: $color2; }
.bgColor-3 { background-color: $color3; }
.bgColor-4 { background-color: $color4; }
.bgColor-5 { background-color: $color5; }
